In [40]:
List1 = range(1,11)
List2 = ['one','two','three','four','five','six','seven','eight','nine','ten']
mydict = {k:v for k, v in zip(List1,List2)}
print(mydict)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 8: 'eight', 9: 'nine', 10: 'ten'}

In [ ]:
import random

In [21]:

answer = random.randint(1,100)
your_answer = eval(input(answer))
if answer == your_answer:
    print("정답")
else:
    print("오답")

2 2

정답

In [ ]:
for n in range(1,101):
    if n%15 == 0 :
        print("fizzbuzz")
    elif n%5 == 0 :
        print("buzz")
    elif n%3 == 0 : 
        print("fizz")
    else :
        print(n)

In [35]:
print(list)

[16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [1]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [12]:
def exam_docstring(*args):
    '''
    param args:
    :return :
    '''
    
    return

In [13]:
print(exam_docstring.__doc__)

    param args:
    :return :

In [15]:
import time
def lazy_eval(n):
    print("1 sec sleep")
    time.sleep(1)
    return n

n_list = [lazy_eval(n) for n in range(1,6)]
for i in n_list:
    print(i)
n_generator = (lazy_eval(n) for n in range(1,6))
for j in n_generator:
    print(j)

In [18]:
some_list = [1,'1','one',4.567,{1:'one'}]

In [33]:
list(filter(lambda x:isinstance(x,str),some_list))

['1', 'one']

In [22]:
a= 5

In [36]:
class Animal:
    father = "me"
    def Print_father(self):    
        print(self.father)

In [37]:
class Myson(Animal):
    def __init__(self,name,age,kind,distinct,speak):
        self.name = name
        self.age = age
        self.kind = kind
        self.distinct = distinct
        self.speak = speak
    def Print_faher(self):
        print("는 아니야")

In [38]:
Jason = Myson("Ash",5,"d","asf","bark")

In [39]:
Jason.Print_father()

me

In [103]:
p = {i*i for i in range(10)}

In [104]:
print(p)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [105]:
q = set(range(5))

In [111]:
u = p - q

In [170]:
with open("some.txt","w") as f:
    for i in range(11):
        data = "5 * %d = %d\n" % (i, 5*i)
        f.write(data)

In [179]:
f = open("some.txt","r")
data = f.readlines()
f.close()
print(data.pop())

5 * 10 = 50

In [186]:
try:
    a = "some_text"
    print(int(a))
except Exception as e:
    print(e)

invalid literal for int() with base 10: 'some_text'

In [187]:
class myError(Exception):
    def __str__(self):
        return "나만의 error message"

In [188]:
try:
    pass
except:
    pass
else:
    pass